{% extends 'base.html' %}

{% block title %} {{ notebook.title }} {% endblock %}

{% block content %}
    <section class="w-100  p-4" style="border-radius: .5rem .5rem 0 0;">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-7">
                <div class="card text-black">
                    <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>

                    <div id="carouselExample" class="carousel slide" data-bs="carousel">
                        <ol class="carousel-indicators">
                            {% for image in notebook.images.all %}
                                <li data-bs-target="#carouselExample" data-bs-slide-to="{{ forloop.counter0 }}"
                                    {% if forloop.first %}class="active"{% endif %}></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for image in notebook.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ image }}" alt="None" class="d-block w-100">
                                    <div class="carousel-caption d-none d-md-block">

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">{{ notebook.title }}</h5>
                            <p class="text-muted mb-4">{{ notebook.description }}</p>
                        </div>
                        <div>
                            {% if notebook.manufacturer %}
                                <div class="d-flex justify-content-between">
                                    <span>Производитель</span><span>{{ notebook.manufacturer }}</span>
                                </div>
                            {% endif %}


                        </div>
                        <div class="d-flex justify-content-between total font-weight-bold mt-4">
                            <span>Цена</span><span>{{ notebook.price }} BYN</span>
                        </div>
                        <div class="d-grid gap-2">
                            <br>
                            <br>
                            <br>
                            <a href="{{ notebook.url }}" class="btn btn-success" type="button">Купить</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}